.cart{
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    border-color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.top{
    top: 11px !important;
    left: 35px !important;
}